header {
    background: black;
    color: white;
}

footer {
    background: #aaa;
    color: rgba(255, 255, 255, 0.28);
}

body, html {
    height: 100%;
    margin: 0;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }

    .article {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        -webkit-order: 2;
        order: 2;
    }

    footer {
        -webkit-order: 3;
        order: 3;
    }
}

#naglowki {
    padding: 0px;
}

#mainContent {
    border-left: 1px lightgray;
}