header {
    background: black;
    color: white;
}

footer {
    background: #aaa;
    color: rgba(255, 255, 255, 0.28);
}

body, html {
    height: 100%;
    margin: 0;
}
body{
    background-color: white;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        order: 1;
    }

    .article {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        order: 2;
    }

    footer {
        order: 3;
    }
}

#naglowki {
    padding: 1px;
    color: black;
}

#chart_div{
    height: 100%;
    width: 100%;
}

.canvasjs-chart-credit {
    display: none;
}

.charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.czarcik{
    flex: 0 0 32%;
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
    margin-outside: 50px;
}
.czarcik:nth-child(3n){
    background-color: #F00;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

#refresh {
    /*width: 100%;*/
    margin-top: 130px;
    margin-left: 85px;
    margin-right: 85px;

    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#refresh:hover{
    /*color: gray;*/

    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.counter{

}